
$phone-width: 500px;
$tablet-width: 800px;
$desktop-width: 1024px;


/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    /* primary/main color */
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-black: #222;
    --clr-yellow:#F65E5B;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width:#{$phone-width}) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  /*  global classes */
  
  /* section */
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  
  /*
  =============== 
  Navbar 
  ===============
  */
  nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
      
  }
 
  .social-icons {
    display: none;
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-container {
    height: 10rem;
  }
  @media screen and (min-width:#{$tablet-width}) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;
     
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
      text-align: center;
      font-size: 1rem;
      color: var(--clr-primary-1);
    }
    .links li ::after {
      content: "";
      height: 3px;
      margin: auto;
      width: 0;
      display: block;
      background: var(--clr-yellow);
      cursor: pointer;
      transition: 0.5s;
    }
    .links li :hover::after {
      width: 100%;
    }
    .social-icons {
      display: flex;
      font-size: 1.5rem;
    }
    .social-icons a {
      margin: 0 0.5rem;
      color: var(--clr-primary-5);
      transition: var(--transition);
    }
    .social-icons li:hover {
      color: var(--clr-white) !important;
      transition: 0.9s;
      border-radius: 6px;
      background-color: var(--clr-primary-4);
    }
  }

  //footer css
  // radial-gradient(circle, #083b6b, #092038)
  .footer{
    background-color:var(--clr-primary-3);padding: 50px 90px;h2{font-weight: bold;color: #fff;padding: 10px 20px;font-size: 22px;}p{color: #ffffff;}
    @media screen and (max-width:#{$phone-width}) {
      padding: 10px 20px;
      .footer-links{
        flex-direction: column;
      }
    }
    &-writeup{flex: 1}
  &-links{flex: 1;}
  &-tools{padding: 10px 20px;a{color: #ffffff;font-size: 20px;}}
  &-pages{padding: 10px 20px;a{color: #ffffff;font-size: 20px;}}
  &-socials {padding: 10px 20px;a{color: #ffffff;font-size: 20px;display: flex;align-items: center;}li{padding: 0 0 20px 0;}}
  
  }
 
  .contact{
    color: var(--clr-white);
    font-size: 1.5rem;
    align-items: center;
    font-weight: normal;
  }
  .footer-tools p{
    letter-spacing: var(--spacing);
    color: var(--clr-white);
  }

  
  // faq css frequently questions

main {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  margin: 5rem auto;
  background-color: #083b6b;
  color: var(--clr-white);
  border-radius: 0.25rem;
  padding: 2.5rem 2rem;
  display: grid;
  gap: 1rem 2rem;
  
}
.container h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 2rem;
  font-family: Manrope, sans-serif !important;
}
.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-white);
  margin-bottom: 1rem;
  border-radius:0.25rem;
  box-shadow: 0 7px 24px 0 rgba(86, 87, 90, 0.06);
  
  
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
  font-size: 1.5rem;
}
.question p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-family: Manrope, sans-serif !important;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2.3rem;
  height: 2.3rem;
  background: var(--clr-primary-3);
  font-family: Manrope, sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color:  var(--clr-white);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}
.btn:hover{
  background-color: var(--clr-primary-4);
  color: var(--clr-white);
}
.section {
  width: 90vw;
  margin: 0 auto;

}
.faq-container{
 text-align: center;
 padding: 5rem 0 2rem 0;
}
.faq-container p{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: Manrope, sans-serif !important;
}
.faq-container h3{
  font-family: Manrope, sans-serif !important;
  font-size: 1rem;
  font-weight: 600;
  color: grey;
}
.faq-container h1{
  font-weight: 600;
  font-family: Manrope, sans-serif !important;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #1d2b5f !important;
}
@media screen and (max-width:#{$tablet-width}) {
  .faq-container p{
    width: 80%;
  }
}
@media screen and (max-width:#{$phone-width}) {
  .faq-container h1{
    font-size: 1.5rem;
  }
  .question h4 {
    text-transform: none;
    line-height: 1.2;
    font-size: 1rem;
  }
  .container h3 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: Manrope, sans-serif !important;
  }
}
// cantact css
// .contact-container{
  // background-color: #E56861;
//   background-image: url("/public/images/nature16.jpeg");
//   background-position-x: center;
//   background-position-y: bottom;
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 60vh;
// }
.contact-text{
  text-align: center;
  padding: 5rem 0 2rem 0;
 }
 .contact-text p{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: Manrope, sans-serif !important;
}
.contact-text h3{
  font-family: Manrope, sans-serif !important;
  font-size: 1rem;
  font-weight: 600;
  color: grey;
}
.contact-text h1{
  font-weight: 600;
  font-family: Manrope, sans-serif !important;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #1d2b5f !important;
}
.contact-links{
width: 80%;
margin: auto;
margin-top: 6rem;
margin-bottom: 6rem;
}
.contact-icon{
  margin-left: 3.5rem;
  margin-top: 1rem;
margin-bottom: 1.5rem;

}
.contact-form{
  background-color: lavenderblush;
  // background-color: rgba(22, 22, 22, 0.85);
  padding: 1rem 0 3rem 0;
  height:auto
  
}
.form{
  padding:2rem 0;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 60%;
  margin:auto
}
.textarea{
  width: 58%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding:1rem 0 0 1rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 5px;
  border:1px solid var(--clr-black);
  font-family: Manrope, sans-serif !important;
}
input{
  border-radius: 5px;
  width: 400px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1rem 0;
  background-color: transparent;
  font-family: Manrope, sans-serif !important;
}
.summit__btn{
  cursor: pointer;
  margin:auto;
  width:12%;
  white-space: normal;
  font-family: Manrope, sans-serif !important;
  border: 1px solid  var(--clr-primary-3);
  background-color:  var(--clr-primary-3);
  border-radius: 5px;
  color: var(--clr-white);
  letter-spacing:  var(--spacing);
  padding: 1rem 1.4rem;
  margin:1rem 0;
  font-weight:500;
}
.summit__btn:hover{
  color:var(--clr-white);
  background-color:var(--clr-primary-4);
  border: 1px solid var(--clr-primary-4);
}
.summit__btn__container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 100px;
  border: 1px solid var(--clr-black);
  height: 2px;
  margin: 0 1rem;
}
.social-text{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.social-text h2{
  font-size: 3rem;
  font-style: italic;
}
@media screen and (max-width:#{$tablet-width}) {
  .contact-links {
    width: 100%;
    padding: 0.5rem;
   
  }
  .line{
    display: none;
  }
  .social-text h2{
  font-size: 1.5rem !important;
  }
  .social__icons__small{
    display: flex;
    margin-left: 2rem;
  }
  .social__icons__small a{
    margin: 0.5rem;
    font-size: 1.2rem;
  }
  .form {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .summit__btn{
    width: 28%;
  }
  .contact-text p{
    width: 90%;
  }
}
@media screen and (max-width:#{$phone-width}) {
 .contact-links{
  display: grid !important;
  grid-template-columns: repeat(1, 1fr) !important;
  place-items:center !important;
 }
 .summit__btn{
  width: 50%;
}
.contact-text h1{
  font-size: 1.4rem !important;
    }
    .textarea {
      width: 90%;
     
    }
    .social-text{
      padding: 0.5rem;
      flex-direction: column;
    }
    .social-text h2{
      font-size: 1rem !important;
    }
    .summit__btn{
      width: 40%;
      padding: 1rem 1rem;
    }
    .contact-text p{
      text-align: left !important;
      width: 90%;
     
    }
}
@media screen and (max-width:360px) {
  input{
    border-radius: 5px;
    width: 320px;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 1rem 0;
    background-color: transparent;
    font-family: Manrope, sans-serif !important;
  }
  .summit__btn{
    width: 50%;
  }
  .contact-text h1{
    font-size: 1rem !important;
      }
      .contact-text p{
        text-align: center;
        letter-spacing: var(--spacing);
      }
}
@media screen and (max-width:414px) {
  input{
    width: 340px;
  }
  .summit__btn{
    width: 50%;
  }
}
// about us css and media screen
.about-us{
  background-color:lightgrey;
  height:50vh;

  
}
// issues on the desktop screen
.about-us-text{
  display: flex;
  padding: 5rem 3rem;

}
// .about-1{
//   flex: 3;
// }
// .about-2{
//   flex: 2;
//   display:flex;
//   justify-content: center;
//   text-align: center;
// }
// issues on desktop
  .underline{
    width:60%;
    height:3px;
    color:var(--clr-black);
    border: 2px solid var(--clr-primary-4);
    margin: 2rem 0;
    
  }
  .contact-list {
    display: inline-block;
    list-style-type: none;
  }
  .contact-list li a{
    margin: 10px;
    color: var(--clr-primary-2);
  }
  .contact-list li a:hover{
    color:  var(--clr-primary-4);
    transition: 0.5s;
  }
  .contact-img{
    width:300px;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
  }
  .about-history{
    width: 80%;
    margin:auto;
    padding:3rem 3rem;
    text-align:center;
    height: 600px;
  }
  .mission-statement{
    width:300px;
    height: 400px;
    border-radius:5px;
    margin: 0 1rem;
    color:var(--clr-black);
    box-shadow:var(var(--dark-shadow));
    background-color:lightgrey;
  }
  .mission-statement h3{
   font-size: 1.5rem;
   padding:2rem 0;
   color: var(--clr-primary-4);

  }
  .mission-statement p{
   font-size: 1rem;
   padding: 0 1rem 0.9rem 1rem;
   text-align:left;
   color: var(--clr-black);
   letter-spacing:var(--spacing)
  }
  .contact__img__text h3{
    font-size: 1rem;
  }
  .contact__btn a{
    margin-top: 1rem;
  }
  .left p{
    width: 80%;
    letter-spacing: var(--spacing);
    font-size: 1rem;
    font-family: Manrope, sans-serif !important;
  }
  .left h2, .right h2{
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-family: Manrope, sans-serif !important;
  }
  .right p{
    font-family: Manrope, sans-serif !important;
    width: 80%;
    letter-spacing: var(--spacing);
    font-size: 1rem;
  }
  .contact-image-container{
    height: 400px;

  }
  .contact__img__text{
    bottom: 20px;
    padding:0 2rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 7;
  }
  .contact-img:hover{
    opacity: 0.7;
    transition: .5s;
  }
  .contact__img__text:hover{
    display:block;
  }
 //about us screen
 @media screen and (max-width:#{$tablet-width}) {
  .about-us-text {
   flex-direction: column;
   padding: 5rem 2rem !important;
  
  }
  .about-us{
    height: auto;
  }
  .about-1{
    flex: 3;
  }
  .about-2{
    flex: 2;
    display:block;
    justify-content: center;
    text-align: left;
  }
  .underline{
    width: 70%;
  }
  .contact-list{
    margin-top:2rem;
  }
  .about-history{
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .right{
    margin-top: 4rem;
  }
  .right p, .left p{
    width:100% !important;
  }
  .contact__img__text{
    display: none;
  }
  .contact-img{
    margin-top: 3rem;
  }
}
@media screen and (max-width:#{$phone-width}) {
  .sm-screen{
   display: grid !important;
   grid-template-columns: repeat(1, 1fr) !important;
   place-items:center !important;
  }
  .contact-img, .mission-statement{
    margin: 0;
    width:100%;
  }
  .about-us{
    height: auto;
  }
  .left h2, .right h2 {
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-family: Manrope, sans-serif !important;
  }
  .mission-statement{
    margin-top: 3rem;
  }
  .img-container{
    margin-top: 2rem;
  }
  .about-history {
    padding: 1rem 1rem !important;
}
}
@media screen and (max-width:390px){
  .left h2, .right h2 {
    font-size: 1rem !important;
    line-height: 1.2rem;
    font-family: Manrope, sans-serif !important;
  }
 .right h2 {
    font-size: 1rem !important;
    line-height: 1.2rem;
    font-family: Manrope, sans-serif !important;
  }
  .contact-list li{
   padding-bottom: 1rem;
  }
  .about-history {
    padding: 1rem 1rem !important;
}
.about-us{
  height: auto;
}
} 
 
@media screen and (max-width:368px) {
  .about-us{
    height: 60vh;
    background-color:lightgrey;
    position: relative;
  }
}
@media screen and (max-width:360px) {
  .contact-img{
    margin: 0;
    width:100%;
  }
  .mission-statement{
    margin: 0;
    width:100%;
  }
  .mission-statement{
    margin-top: 3rem;
  }
  .about-us{
    height: auto;
  }
  
  .about-history {
    padding: 1rem 1rem !important;
}
  .about-us {
    background-color: lightgrey;
    height: 50vh;
  }
  .right p{
    width:100% !important;
  }
   .left p{
    width:100% !important;
  }
  .left h2{
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: Manrope, sans-serif !important;
  }
  .right h2{
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: Manrope, sans-serif !important;
  }
}

// banner css
.banner-text {
  // color: var(--white) !important;
  color:  var(--clr-yellow);
  flex-wrap: wrap;
  align-items:center;
  font-family: Manrope, sans-serif !important;
  flex-wrap: wrap;
}
.special{
  margin-bottom: 2rem;

}
.banner-btn{
  padding: .6rem 1rem;
  background-color:  var(--clr-primary-3);
  color: var(--clr-white);
  margin-right: 2rem;
  font-family: Manrope, sans-serif !important;
  border-radius: 5px;
  border: 1px solid  var(--clr-primary-4);
}
.banner-btn:hover{
  background-color: var(--clr-primary-4);
  color: var(--clr-white);
  transition: .5s;
  transform: scale(0.9);
}
.banner__container{
   margin-left: 550px;
}
@media screen and (max-width:#{$tablet-width}) {
  .banner__container{
    margin-left: 200px;
    top:50%;
 }
}
@media screen and (max-width:#{$phone-width}) {
  .banner__container{
    margin-left: 50px;
    top:50%;
 }
 .banner-btn{
  margin-right: 1rem;
  padding: .4rem .8rem;
  font-size: 1.4rem;
 }
}
@media screen and (max-width:360px) {
  .banner__container{
    margin-left: 15px;
    top:50%;
 }
 .banner-btn{
  margin-right: 1rem;
  padding: .4rem .8rem;
  font-size: 1.4rem;
 }
}



// map css
iframe{
  border: none;
  width: 60%;
  height: 500px;
  margin: 2rem 0;
  // filter: invert(100%);
}
.banner-openday{
  border-radius: 5px;
  color: black;
  width: 400px;
  height: 400px;
  margin: 0 3rem;
  font-size: 1.3rem;
}



.contactus{



  .wrapper-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
  }
    @media screen and (max-width:#{$phone-width}) {
      
    }

    .banner-openday{
      // border: 2px solid red;
      // background-color: #0b1c30;
      // box-shadow: 2px 2px 2px 2px grey ,-2px -2px 2px 2px grey;
      border-radius: 5px;
      color: black;
      width: 400px;
      height: 400px;
      margin: 0 3rem;
      font-size: 1.6rem;
    }
    .banner-location{
      position: relative;
      width: 400px;
      height: 400px;
      .frame-wrapper{
        position: absolute;
        background-color: #092038;
        width: 200px;
        height: 300px;
        top: -1.3rem;
        z-index: -5;
        right: -2rem;;
      }
    }
    .days{
      color: black;
    }
     .active{
      background-color: #05c722;
      color: white;
    }
  }

//testimonial css
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 4rem;
}
.title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 90vw;
  /* have to have a height */
  height: 390px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}
article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
 
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 1.6;
  color: var(--clr-grey-5);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev,
.next {
  position: absolute;
  top: 160px;
  transform: translateY(-80%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

// core value css
.core-value-icons{
display: inline-block;
margin-right: 1.5rem;
cursor: pointer;
width: 60px;
height: 60px;
color:var(--clr-white);
border-radius: 50%;
text-align: center;
position: relative;
padding: 1rem;
z-index: 1;
text-decoration: none;
background-color: var(--clr-yellow);
border: 4px solid var(--clr-yellow);
}
.core-value-icons:hover{
  background-color: var(--clr-white);
  
  transform: scale(0.9);
  color:var(--clr-black);
  transition:0.5s;
}
.core-value h3{
  color:var(--clr-primary-4);
  font-weight: 400;
  letter-spacing: 1.2;
}
.core-value-li{
  margin-left: 1.5rem;
  list-style-type: square;
  letter-spacing: .1rem;
  color:var(--clr-grey-5);
}

@media screen and (max-width:#{$tablet-width}) {
      
  .core-container{
  flex-direction: column;
  }
  .students-img{
    margin-top:2rem;
  }
}
@media screen and (max-width:#{$phone-width}) {
  .students-img{
    padding: 1.5rem;
  }
  .core-text{
    width:100%;
  }
  .core-container{
    padding: 2rem !important;
    background-color:lightgray;
    overflow: hidden;
    position:relative;
  }
  .wrap-it{
    width:140px
  }
}


// whykeyona css
.why-text{
  border:1px solid var(--clr-primary-4);
  padding:2em;
background-color:var(--clr-primary-4);
  font-family: Manrope, sans-serif !important;
  width:30%;
  color:var(--clr-white);
  border-radius:5px;
  cursor:pointer;
  margin:1rem;
}
.why-text:hover{
  background-color:var(--clr-yellow);
  border:1px solid var(--clr-yellow);
  transition:0.5s;
  
}
.why-text h4{
  font-size:1.7em;
}
.why-text p{
  color:var(--clr-white);
font-size: 1em;
line-height: 2em;
letter-spacing: 1px;
}
.grid-container{
 place-items:center;
  
}

//facilities css

.fac-image-container{
  height: 350px;
  width:300px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: .5rem;
  background-color: var(--clr-primary-4);
}
.fac-image-container h4{
  text-align: center;
  color: var(--clr-white);
  width:300px;
}
.fac-images{
  height: 300px;
  width:300px;
  background-color: var(--clr-primary-4);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.fac-image-container:hover{
  background-color:var(--clr-yellow);
  border:1px solid var(--clr-yellow);
  transition:0.5s;
  // opacity:0.9;
}
  
  







